@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


.shadow-form {
  box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.12);
}

/* .ant-menu-item {
  width: 100% !important;
  margin: auto !important;
  border-radius: 0 !important;
} */
/* .ant-menu-item{
  color: black ;
} */

* {
  font-family: 'Inter', sans-serif;
}

/* .ant-table-column-sorter {
  display: none !important;
}

/* #newOrders .ant-table-tbody tr {
  background-color: #fc8383;
  border-radius: 50px !important;
  padding: 10px !important;
  margin-top: 50px !important;
} */


table {
  background-color: #fafbff;
}


.ant-table-thead tr th::before {
  background-color: transparent !important;
}

.ant-menu-item:not(:first-child) {
  margin-top: 0.5rem !important;
}

.ant-menu-item.ant-menu-item-selected {
  background-color: #0852C1 !important;
}

.ant-layout-sider-trigger {
  background-color: #2f9379 !important;
}

/* .ant-layout-sider,
.ant-menu {
  background-color: white !important;
}

.ant-layout-header {
  background-color: white !important;
} */

.ant-layout-sider {
  box-shadow: 4px 11px 12px rgba(0, 0, 0, 0.12) !important;
} 

.sidebar {
  overflow-y: auto;
  max-height: 80vh !important;
  color: black;
  /* padding-bottom: 1rem !important; */
}

::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}





.sidebar::-webkit-scrollbar {
  display: none;
}

.sidebar:hover::-webkit-scrollbar {
  /* overflow: scroll; */
  display: block;
  width: 6px;
}

/* .ant-layout-sider-collapsed .user {
  display: none !important;
}

.tableWrapper {
  display: flex;
  flex-flow: column;
  gap: 5px;
  width: 100%;
  height: 100%;
  background: #ffffff;
  box-shadow: 2px 4px 24px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  padding: 20px;
  margin-top: 10px;
}

.btn-primary {
  background: #2f9379 !important;
  font-family: "Poppins";
}

.tableWrapper .ant-table-thead tr th {
  background-color: white !important;
  border-right: none !important;
}

.tableWrapper table {
  background-color: white;
}

.ant-popconfirm-buttons{
  display: none !important;
}

.ant-dropdown-menu-item-active{
  background: none !important;
} */

body{
  background-color: #F9F9F9;
}

